{# Set the title of the page #}
{% set page_title = "Colours" %}

{% include "templates/header.html" %}


    <main class="main-content">

      <div class="panel">
        <h2>Colour Palette</h2>

        <div class="color-block color-6754ac">
          <p>#6754ac</p>
          <p>$purple;</p>
        </div>

        <div class="color-block color-303235">
          <p>#303235</p>
          <p>$black;</p>
        </div>

        <div class="color-block color-63666c">
          <p>#63666c</p>
          <p>$text-gray;</p>
        </div>
    
      </div>

    </main>

    <footer>
      
    </footer>

{% include "templates/footer.html" %}


